

<% @jobs.each do |job| %>
	<%= link_to job_path(job), class: "btn-custom-sm" do %> 
			<i class="glyphicon glyphicon-menu-hamburger"></i>
	<% end %>
	<h3> <%= job.title %> </h3>
	<h4> <%= job.created_at.to_formatted_s(:short) %> </h4>
	<h4> <%= job.status %> </h4>
<% end %>


<%= link_to "New", new_job_path, class: "footer" %>